@font-face {
    font-family: 'MuseoCyrl900';
    font-weight: normal;
    font-style: normal;
    src: url('MuseoCyrl900.otf');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('ProximaNovaCond-Regular.ttf');
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    font-weight: normal;
    font-style: normal;
    src: url('ProximaNovaCond-Semibold.ttf');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('ProximaNovaExCn-Bold.ttf');
}
