
.form-input-group {
    width: 100%;
}

.form-input-group__input {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px; /*var(--secondary-border-radius)*/;
    outline: none;
}

.form-input-group__input_error {
    border-color: #B71C1C; /*var(--error-color);*/
}

.form-input-group_multiline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.form-input-group__input_multiline {
    margin: 5px 0;
    width: 100%;
}

.text-error {
    font-family: ProximaNova-Regular;
    color: #B71C1C; /*var(--error-color);*/
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.form-input-group__error_multiline, .form-input-group__label_multiline {
    padding: 0 0 0 10px;
}
